@font-face {
  font-family: "MyFontBold";
  src: local("MyFontBold"), url(./theme/Black.otf) format("opentype");
}
@font-face {
  font-family: "MyFontRegular";
  src: local("MyFontRegular"), url(./theme/Regular.otf) format("opentype");
}
